<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script src="../../javascripts/io.js"></script>
  </head>
  <body>
    <div id="main">
      <div id="container" style="min-width: 210px; height: 450px; margin: 0 auto"></div>
      <div id="socket_text"></div>
      <button id="first_button" onclick="first_button_click()">FB</button>
    </div>
  <script src="../../javascripts/chart.js"></script>
  <script src="../../javascripts/scripts.js"></script>
  </body>
</html>
